/*produtos-shared-styles.css*/

.todos_componentes_produtos_css {
    height: 80vh;
    width: 100vw;
    max-height: 80vh;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;

  }

    .texto-wrapper {
      width: 70%;
      margin-right: 5%;
      float: right;
    }

  .texto_produtos {

    text-align: justify;
    width: 50%;
    margin-right: 5%;
    margin-top: 2%;
    float: right;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-style: italic;
    color: blanchedalmond;
  }

@media screen and (max-width: 1000px) {

  .texto_produtos {
    font-size: 14px;
    max-height: 45vh;
    overflow-y: auto;

  }

    .texto_produtos::-webkit-scrollbar {
      display: none;
      }

}

@media screen and (min-width: 580px) and (max-width: 767px) {

.texto-wrapper {
    width: 70%;

  }

  .texto_produtos {
    font-size: clamp(12px, 2vw, 14px);
    /* Ajuste os valores conforme necessário */
    width: 40%;
    /* Se necessário, ajuste a largura para caber dentro do .texto-wrapper */
max-height: 43vh;
overflow-y: auto;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 35%;

  }
}
