<!--/* cortes-masculinos.component.html -->
<main class="todos_componentes_produtos_css corte_masculino">

      <div class="texto_produtos">

        <p>Procurando por um novo estilo de corte de cabelo?</p>

        <p>Visite nosso salão de beleza e experimente um dos nossos cortes
        masculinos exclusivos.</p>

        <p>Nossa talentosa equipe de estilistas é especializada em cortes masculinos modernos e tradicionais. Nós sabemos que cada
        cliente é único, por isso personalizamos cada corte para se adequar à sua personalidade e estilo de vida.</p>

        <p>De um corte curto e texturizado até um estilo mais longo e encorpado, nós criamos o look que você deseja. Além disso,
        oferecemos serviços adicionais, como cabelo e barba, para um cuidado completo.</p>

        <p>Não importa se você é um homem de negócios ou um atleta de fim de semana, nossos cortes masculinos são projetados para
        se adaptar a qualquer estilo de vida. Então, marque sua visita hoje mesmo e vamos transformar o seu
        visual!</p>

      </div>

</main>
