<!-- formulario.component.html -->

<div class="appformulariocss">
  <form ngNativeValidate #newsletterForm="ngForm" (ngSubmit)="onSubmit(newsletterForm)" class="">
    <h4>RECEBA NOSSAS NOVIDADES</h4>
    <input type="email" id="email" name="email" [(ngModel)]="newsletter.email" #emailInput="ngModel" minlength="1"
      required email placeholder="Insira seu melhor e-mail" />
    <button type="submit" [disabled]="newsletterForm.invalid" class="btn btn-primary">
      Inscreva-se
    </button>
    <div *ngIf="emailInput.invalid && emailInput.errors?.['minlength']">O campo de email não pode estar vazio.</div>
    <div *ngIf="errorMessage || successMessage" class="text-danger" id="alteracormsg">{{ errorMessage }} {{
      successMessage
      }} </div>
  </form>
</div>









































<!-- <div class="appformulariocss">
<div class="search-text">
  <div class="container">
    <div class="row text-center">
      <div class="form">
        <form

          ngNativeValidate
          #newsletterForm="ngForm"
          (ngSubmit)="onSubmit(newsletterForm)"
          id="search-form"
          class="form-search form-horizontal"
        >
          <h4>RECEBA NOSSAS NOVIDADES</h4>


            <input class="input-search"
              type="email"
              id="email"
              name="email"
              [(ngModel)]="newsletter.email"
              #emailInput="ngModel"
            />

            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"></div>



          <button type="submit" [disabled]="newsletterForm.invalid" class="btn btn-primary">
            Inscreva-se
          </button>
          <div *ngIf="errorMessage || successMessage" class="text-danger" id="alteracormsg">{{ errorMessage }} {{ successMessage }} </div>
        </form>

      </div>
      <form-->
    <!-- </div> -->
    <!--row text-center-->
  <!-- </div> -->
  <!--container-->
<!-- </div> -->
<!--search-text-->

<!-- </div> -->
<!--appformulariocss-->

