<main class="todos_componentes_produtos_css corte_feminino_css">
  <div class="texto_produtos">
          <p>Seja bem-vinda ao nosso salão, onde oferecemos os melhores e mais modernos cortes femininos para realçar sua beleza
            natural! Nosso time de profissionais altamente capacitados está preparado para atender às suas necessidades e desejos,
            transformando sua experiência conosco em um momento único e agradável.</p>
          <p>Entendemos que cada mulher possui seu próprio estilo e personalidade, por isso, trabalhamos com uma ampla variedade
            de cortes, desde os clássicos até os mais contemporâneos e ousados. Estamos sempre atualizados com as últimas
            tendências e técnicas, garantindo que você saia de nosso salão com um visual moderno e sofisticado.</p>
          <p>Além de cortes incríveis, também oferecemos uma gama de serviços complementares para cuidar dos seus cabelos. Temos
            opções de hidratação, nutrição, reconstrução e coloração, tudo para que você se sinta ainda mais bonita e confiante.
            Nossa equipe está pronta para orientá-la na escolha dos melhores tratamentos para suas madeixas.</p>
          <p>Agende já sua visita e venha conhecer nosso espaço, projetado especialmente para proporcionar conforto e bem-estar a
            nossas clientes. Desfrute de um ambiente acolhedor e descontraído, onde você será tratada como a verdadeira rainha que
            é. Estamos ansiosos para te receber e ajudá-la a encontrar o corte feminino perfeito para valorizar sua beleza!</p>


  </div>
</main>
