<!-- header.component.html -->
<div class="container-fluid">
<div class="row ">
  <div class="col text-center leftcolcss align-items-center">
    <a routerLink="/">STUDIO VAL MARTINS</a>
  </div>
  <div class="col d-flex flex-row-reverse rightcolcss align-items-center">

    <ul>


          <a href=""><li class="fa fa-instagram fa-2x" style="color: #8134af;"></li></a>
          <a href=""><li class="fa fa-facebook fa-2x" style="color: #3b5998;"></li></a>
          <a href="https://www.youtube.com/" target="_blank"><li class="fa fa-youtube fa-2x"></li></a>


    </ul>
  </div>
</div>

