/* header.component.css*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);


*{
  color: black;
  background-color: chocolate;
  color: blanchedalmond;

}
.container-fluid{
  height: var(--header-height);
  min-height: 0.1px;
}
.leftcolcss{
  font-size: large;
  font-weight: 800;
  font: 2em sans-serif;
  padding: 1%;
  font-family: 'Arial', sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;


}

.rightcolcss{
  padding-right: 5%;
  padding-top: 1%;

  }

  ul li{
    padding-right: 30px;
  }

.leftcolcss a {
  text-decoration: none;   /* Remove a sublinhação */
  color: inherit;   /* A cor do link será a mesma do texto que o envolve */
  transition: all 0.3s ease;   /* Faz a transição de todas as propriedades de maneira suave */
}

.leftcolcss a:hover {
  text-shadow: 0.2em 0.2em 0.3em black;   /* Aumenta levemente a sombra do texto ao passar o mouse */
  font-size: 1.01em;   /* Aumenta levemente o tamanho da fonte ao passar o mouse */
}


